body {
  padding: 50px;
  background-color: lightyellow;
  font-family: sans-serif;
}

.collection-item .item-checkbox span {
  font-size: 18px;
  color: black;
}

.collection-item .item-checkbox button {
  align-items: right;
  color: blue;
  background-color: white;
}

.collection-item:hover {
  background-color: aliceblue;
}
