.container {
  display: flex;
  justify-content: center;
}
body {
  padding: 50px;
  background-color: #66ccff;
  font-family: sans-serif;
}

.todoList input {
  padding: 10px;
  font-size: 16px;
  border: solid 2px solid #fff;
}

.todoList h2 {
  text-align: center;
  color: slateblue;
  text-decoration: underline;
}

.todoList li {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  list-style: none;
  font-size: 20px;
  text-align: center;
}

.todoList li:hover {
  background-color: pink;
  cursor: pointer;
}

.todoList li button {
  border-radius: 5px;
  background-color: slateblue;
  color: white;
  margin: 10px;
}

.todList li button[name='delButton']:hover {
  background-color: red;
  cursor: pointer;
}

ul {
  padding: 0px;
}

.todoList button[name='addButton'] {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0xp;
  background-color: slateblue;
  color: white;
}

.todoList button[name='addButton']:hover {
  background-color: darkblue;
  cursor: pointer;
}

.todoList .theList li {
  background-color: aliceblue;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.container .addNewList h2 {
  font-family: sans-serif;
  justify-content: center;
}
